@page "/courses/details"
@inject SMS.CimContext DB
@using SMS.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    @if (course is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">CID</dt>
            <dd class="col-sm-10">@course.CID</dd>
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@course.Name</dd>
            <dt class="col-sm-2">Credits</dt>
            <dd class="col-sm-10">@course.Credits</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@course.Description</dd>
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@course.Status</dd>
        </dl>
        <div>
            <a href="@($"/courses/edit?id={course.Id}")">Edit</a> |
            <a href="@($"/courses")">Back to List</a>
        </div>
    }
</div>

@code {
    Course? course;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        course = await DB.SMS_Courses.FirstOrDefaultAsync(m => m.Id == Id);

        if (course is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
